/venv
/.vscode
__pycache__
/pydirectinput.egg-info
/build
/dist
*.npy
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.zip
nn.model
Modeling/Existing_Models/nn.model
xgboost_dino.pkl
*.pkl
*.joblib
Ec2/
Modelinggpyopt_xgb\
Modeling/
